body{
  background-color: #adad85;
}
section {
  background-color: #d6d6c2;
  width: auto;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 9px;
}

h1{
  text-transform: uppercase;
  color: rgb(209, 7, 7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

}

footer {
  margin-left: 7px;
}

#test{
  color: rgb(9, 73, 73);
}

#test2{
  background-color: blue;
}